<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cf.studycafe.mapper.BoardMapper">
<insert id="create">
insert into studycafe.BOARD (id,title,contents,gubun,password,open_yn) 
values(#{id},#{title},#{contents},#{gubun},#{password},#{open_yn});
</insert>
<select id="noticeListAll" resultType="cf.studycafe.domain.BoardVO">
<![CDATA[
select
board_seq,id,title,contents,open_yn,count,regdate
from
studycafe.BOARD
where gubun ='n' order by board_seq desc, regdate desc;


]]>
</select>
<select id="free" resultType="cf.studycafe.domain.BoardVO">
<![CDATA[
select
board_seq,id,title,contents,open_yn,count,regdate
from
studycafe.BOARD
where gubun ='f' order by board_seq desc, regdate desc;


]]>
</select>

<select id="qna" resultType="cf.studycafe.domain.BoardVO">
<![CDATA[
select
board_seq,id,title,contents,open_yn,count,regdate
from
studycafe.BOARD
where gubun ='q' order by board_seq desc, regdate desc;


]]>
</select>

<select id="read" resultType="cf.studycafe.domain.BoardVO">
select
board_seq,id,title,contents,open_yn,count,regdate,gubun
from
studycafe.BOARD
where board_seq=#{board_seq}
</select>

<delete id="delete">
delete from studycafe.BOARD where board_seq=#{board_seq}
</delete>

<update id="viewCnt">
	update studycafe.BOARD set count = count+1 where board_seq=#{board_seq}
</update>
<update id="modify">
	update studycafe.BOARD set gubun=#{gubun},title=#{title},contents=#{contents},id=#{id},password=#{password},open_yn=#{open_yn},modidate=now()
	where board_seq=#{board_seq};
</update>

</mapper>
