<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cf.studycafe.mapper.MemberMapper">
<select id="loginProc" resultType="MemberVo" >
	SELECT *
	  FROM MEMBER
	 WHERE id=#{id}
	   AND password=#{password}

</select>

<select id="idCheck" resultType="MemberVo" >
	SELECT *
	  FROM MEMBER
	 WHERE id=#{id}
</select>


<insert id="joinProc" >
	INSERT INTO MEMBER
		(id,password,name,email,author)
	VALUES 
		(#{id},#{password},#{name},#{email},'2')
</insert> 

<select id="findIDProc" resultType="MemberVo" >
	SELECT *
	  FROM MEMBER
	 WHERE name=#{name} AND email=#{email}
</select>


</mapper>
