<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cf.studycafe.mapper.RoomMapper">

	<select id="list" resultType="cf.studycafe.domain.Room">
	<![CDATA[
		select 
			*
		from 
			ROOM_INFO 
		order by room_seq asc
	]]>
	</select>

	<select id="reserveList" resultType="cf.studycafe.domain.RoomReserve" parameterType="int">
	<![CDATA[
		select 
			id, room_seq, member_yn, regdate, resve_date as resveDate, nmpr, drk_yn, stprc, resve_state, 
     		resve_date as endDate, resve_time as resveTime
		from 
			RESVE
		where room_seq = #{index}
		order by resve_seq asc
	]]>
	</select>
	
	<insert id="insert" parameterType="cf.studycafe.domain.RoomReserve">
	<![CDATA[
		INSERT INTO RESVE
			(id, room_seq,  regdate, resve_date, nmpr,
			stprc, resve_time)
		VALUES (#{id}, #{room_seq}, #{regdate}, #{resveDate}, #{nmpr},
				#{stprc}, #{resveTime});
	]]>
	</insert>

</mapper>
