<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cf.studycafe.mapper.RoomMapper">

	<select id="list" resultType="cf.studycafe.domain.Room">
	<![CDATA[
		select 
			*
		from 
			ROOM_INFO 
		order by room_seq asc
	]]>
	</select>

</mapper>
